table, th, td {
	border: 1px solid black;
}

table {
	width:100%;
}

td {
    padding-left: 0.2em;
	padding-right: 0.2em;
}

.btn-spacer{
	padding: 0.2em;
}

.btn-container {
	display:flex;
	width: 100%;
}

#errorList{
	color: red;
}
input[type="range"]{
	overflow: hidden;
	min-width: 18em;
}

/* https://tutorialzine.com/2014/07/css-inline-help-tips */
.help-tip{
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	text-align: center;
	background-color: #6dbae0;
	cursor: help;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color: white;
}

.help-tip:hover p{
	display:inline-block;
	transform-origin: 100% 0%;
}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #000000ab;
	padding: 0.5em;
	position: absolute;
	margin: 1em 2em 0 2em;
	left: 0;
	border-radius: 0.5em;
	color: white;
}

summary {
	height: 1.8em;
}

textarea {
	width: 100%;
	font-size: 0.8em;
}

canvas {
	background: #c9cfcf;
	border: 1px solid black;
}